<body>
<footer class="bg-light">
  <div class="container-fluid">
    <!-- Añade el contenido del footer con la clase d-flex -->
    <div class="d-flex align-items-center justify-content-between">
      <!-- Crea el primer elemento div con el texto de derechos de autor -->
      <div>
        <p>© 2023 Company, Inc.</p>
      </div>
      <!-- Crea el segundo elemento div con los iconos de redes sociales -->
      <div>
        <!-- Usa las clases bi seguidas del nombre del icono para mostrar los iconos -->
        <i class="bi bi-youtube"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-facebook"></i>
      </div>
    </div>
  </div>
</footer>
</body>
