
<body>

<nav class="navbar navbar-light bg-light d-flex align-content-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- Añade la ruta a tu imagen de logo -->
      <i class="bi bi-person-arms-up"></i>
      MIS TAREAS
    </a>
      <a class="btn btn-outline-primary" routerLink="/tareas">Tareas <i class="bi bi-list-task"></i></a>

    <button class="btn btn-outline-success mx-2" routerLink="/new-task" type="button">Añadir nueva tarea
      <i class="bi bi-house-add float-end ms-2"></i>
    </button>

  </div>
</nav>

</body>

